<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="avocadoMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>
      <ion-label>All Places</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bookable">
      <ion-label>Bookable Places</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid fixed *ngIf="isLoading">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="bubbles" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="!isLoading && (!relevantPlaces || relevantPlaces.length === 0)">
    <ion-grid fixed>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-top" size-xs="12" size-sm="6" offset-sm="3">
          There are no bookable places right now.
          Please come back later!
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ion-grid no-padding *ngIf="!isLoading && relevantPlaces.length > 0">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{relevantPlaces[0].title}}</ion-card-title>
            <ion-card-subtitle>{{ relevantPlaces[0].price | currency }} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{relevantPlaces[0].description}}<p>
          </ion-card-content>
          <div>
            <ion-button fill="clear" color="primary"
              [routerLink]="['/', 'places', 'tabs', 'discover', relevantPlaces[0].id]">
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll [items]="listedLoadedPlaces" approxItemHeight="70px">
          <ion-item *virtualItem="let place" [routerLink]="['/', 'places', 'tabs', 'discover', place.id]" detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>