<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button menu="avocadoMenu"></ion-menu-button>
		</ion-buttons>
		<ion-title>My Offers</ion-title>
		<ion-buttons slot="primary">
			<ion-button routerLink="/places/tabs/offers/new">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-grid fixed>
		<ion-row>
			<ion-col size-sm="8" offset-sm="2" class="ion-text-center">
				<div *ngIf="isLoading" class="ion-text-center">
					<ion-spinner name="bubbles" color="primary"></ion-spinner>
				</div>
				<div class="ion-text-center" *ngIf="!isLoading && offers.length === 0">
					<p> No offers found. Please create one first!</p>
					<ion-button color="primary" routerLink="/places/tabs/offers/new">Offer New Place</ion-button>
				</div>
				<ion-list *ngIf="!isLoading && offers.length > 0">
					<ion-list>
						<ion-item-sliding *ngFor="let offer of offers" #slidingItem>
							<app-offer-item [offer]="offer"></app-offer-item>
							<ion-item-options side="end">
								<ion-item-option color="secondary" (click)="onEdit(offer.id, slidingItem)">
									<ion-icon slot="icon-only" name="create"></ion-icon>
								</ion-item-option>
							</ion-item-options>
						</ion-item-sliding>
					</ion-list>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
