<div class="picker">
	<ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
	<ion-img
			class="location-image"
			(click)="onPickLocation()"
			[src]="selectedLocationImage"
			*ngIf="!isLoading && selectedLocationImage"
	></ion-img>
	<ion-button color="primary" *ngIf="!isLoading && !selectedLocationImage" (click)="onPickLocation()">
		<ion-icon name="map" slot="start"></ion-icon>
		<ion-label>Select Location</ion-label>
	</ion-button>
</div>