<ion-header>
	<ion-toolbar>
		<ion-title>{{isLogin ? 'Login' : 'Sign up'}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form #f="ngForm" (ngSubmit)="onSubmit(f)">
		<ion-grid fixed>
			<ion-row>
				<ion-col size-sm="6" offset-sm="3">
					<ion-list>
						<ion-item>
							<ion-label position="floating">E-mail</ion-label>
							<ion-input
									type="text" ngModel name="email" email required
                  #emailCtrl="ngModel">
							</ion-input>
						</ion-item>
						<ion-item lines="none" *ngIf="!emailCtrl.valid && emailCtrl.touched">
							<ion-label color="danger">Should be a valid email address</ion-label>
						</ion-item>
						<ion-item>
							<ion-label position="floating">Password</ion-label>
							<ion-input type="password" ngModel name="password" required minlength="6"
                         #passwordCtrl="ngModel"></ion-input>
						</ion-item>
						<ion-item lines="none" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
							<ion-label color="danger">Should be a valid email address</ion-label>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size-sm="6" offset-sm="3">
					<ion-button type="button" color="primary" fill="clear" expand="block"
					            (click)="onSwitchAuthMode()">
						Switch to {{ isLogin ? 'Sign up' : 'Login'}}
					</ion-button>
					<ion-button type="submit" expand="block" [disabled]="!f.valid">
						{{ isLogin ? 'Login' : 'Signup' }}
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
