<ion-header>
	<ion-toolbar>
		<ion-title>{{ title }}</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="onCancel()">{{ closeButtonText }}</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="map" #map></div>
</ion-content>