<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button menu="avocadoMenu"></ion-menu-button>
		</ion-buttons>
		<ion-title>Your Bookings</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-text-center" *ngIf="isLoading">
		<ion-spinner color="primary" name="bubbles"></ion-spinner>
	</div>
	<ion-grid fixed *ngIf="!isLoading">
		<ion-row>
			<ion-col size-md="6" offset-md="3" class="ion-text-center"
			         *ngIf="!isLoading && (!loadedBookings || loadedBookings.length === 0)">
				<p>No Bookings found</p>
			</ion-col>
			<ion-col size-md="6" offset-md="3" *ngIf="!isLoading && loadedBookings && loadedBookings.length > 0">
				<ion-list>
					<ion-item-sliding *ngFor="let booking of loadedBookings" #slidingBooking>
						<ion-item>
							<ion-avatar slot="start">
								<ion-img [src]="booking.placeImage"></ion-img>
							</ion-avatar>
							<ion-label>
								<h2>{{ booking.placeTitle }}</h2>
								<p>Guests: {{ booking.guestNumber }}</p>
							</ion-label>
						</ion-item>
						<ion-item-options side="end">
							<ion-item-option (click)="onCanlceBooking(booking.id, slidingBooking)" color="danger">
								<ion-icon slot="icon-only" name="trash"></ion-icon>
							</ion-item-option>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>