<ion-item>
  <ion-thumbnail slot="start">
    <img [src]="offer.imageUrl" />
  </ion-thumbnail>
  <ion-label>
    <h1>{{offer.title}}</h1>
    <div class="offer-detail">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">
        {{ offer.availableFrom | date }}
      </ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">
        {{ offer.availableTo | date }}
      </ion-text>
    </div>
  </ion-label>
</ion-item>