ion-content {
    --padding-start: var(--ion-padding, 0);
    --padding-end: var(--ion-padding, 0);
    --padding-top: var(--ion-padding, 0);
    --padding-bottom: var(--ion-padding, 0);
    .location-image {
        width: 100%;
        height: 25rem;
        max-height: 30vh;
        object-fit: cover;
    }
    p {
        margin: 0;
    }
}