<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Place Title' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading" class="ion-no-padding" fixed>
    <ion-row>
      <ion-col class="ion-no-padding" size-sm="6" offet-sm="3">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offet-sm="3"class="ion-text-center ion-padding">{{ place.description }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offet-sm="3" class="ion-padding ion-text-center">
        <p>{{ place.location.address }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size-sm="6" offet-sm="3" class="ion-no-padding">
        <ion-image role="button" (click)="onShowFullMap" class="location-image" [src]="place.location.staticMapImageUrl"></ion-image>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isBookable">
      <ion-col size-sm="6" offet-sm="3" class="ion-text-center">
        <ion-button color="primary" class="ion-margin" (click)="onBookPlace()">
          Book
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>